#signup{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
    border: 3px solid rgb(144, 123, 16); 
    height: 270px;
    border-radius: 5px;
}
#snav{
    height:150px;
    background-color: rgb(137, 191, 11);
    color: whitesmoke;
    font-size: 60px;

}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.label{
    margin-top: 1rem;
}
.loginForm{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
    border: 3px solid rgb(28, 119, 81); 
    height: 260px;
    border-radius: 5px;
    width: 350px;
}
#loginbtn{
    background-color:  rgb(28, 119, 81);
    color: white;
    margin: 1rem 20%;
    cursor: pointer;
}
#footnav{
    height:75px;
    background-color: rgb(28, 119, 81); 
    margin-top: 22.5rem;
    color: white;
    display: flex;
    font-size: 20px;
}
#msgform{
    display: flex;
    flex-direction: row;
   margin-left: 35%;


}
.msgs{
    display: flex;
    background-color: lightgray;
    width: auto;
}
.chatele{
    margin-left: 2rem;
    width: 300px;
}
#chatlabel{
    font-size: 20px;
}
#sendbtn{
    margin-left: 1rem;
    width: 60px;
    cursor: pointer;
}
#inbox{
    margin-left: 35%;
    margin-top: 2rem;
  
  }
  .info{
      display: flex;
  
  }
  .allmsgs{
    margin-top: 1rem;
    margin: 1rem;
}
  #chathead{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 2rem 2rem;
}

.chats{
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    text-align: left;
}

.msgs{
    display: flex;

    background-color: lightgray;
    width: auto;
}